#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
}

.navbar{
  background-color: antiquewhite;
}
.footer img{
  position: absolute;
  bottom: 0;
  right: 0;
}